*{
    box-sizing: border-box;
}

.grid{
    display: grid;
}




@media (min-width:20rem){
    
    .grid.two-columns{
        grid-template-columns: 1fr 1fr;
    }
    .para{
        font-size:0.8rem;
        width:35rem;
    }
    code{
        width: 35rem;
    }
    


}

@media(min-width:50rem){
    
    .grid.two-columns{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .para{
        font-size: 0.7rem;
        width:40rem;
    }

    code{
        width:50rem;
    }
    
    
   
}

@media(min-width:70rem) {
    .grid.two-columns{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .para{
        font-size:0.9rem;
        width:65rem;
    }

    code{
        width:70rem;
    }
    

}




