/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  
    font-family: 'Raleway', sans-serif;
  
    color: rgb(199, 199, 199);
    
    background-color: rgb(24, 33, 48);
    padding: 2rem;
    
  }
  
  .element {
    padding-bottom: 70px;
  
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
  }
  h1{
    color: rgb(134, 235, 217);
    font-size: 4rem;
    
    font-family: 'Rajdhani', sans-serif;
    
  
  }
  
  h2 {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 6rem;
    color: rgb(134, 235, 217);
  } 
  
  h3 {
    font-family: 'Rajdhani', sans-serif;
    font-style: italic;
    margin-top: 1rem;
    color: rgb(199, 199, 199);
  }
  
  h4 {
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 0.25rem;
    color: rgb(199, 199, 199);
  }
  
  p {
    margin-top: 0;
    font-size: small;
    width: 800px; /*changing default width of the paragraph*/
  }
  nav a{
    padding-right: 0.8rem;
    color: rgb(199, 199, 199);
  }
  
  nav a:hover {
    color: rgb(134, 235, 217);
    text-decoration: none;
    
  }
  nav a:focus{
    text-decoration: none;
    color:rgb(48, 133, 117);
  }
  
  code {
    background-color: dimgray;
    color: white;
    padding: 0.5rem;
    display: block;
  }
  
  
  
  
  
  
  /* 
    INTERACTIVE ELEMENTS -------------------
  */
  
  /* Styling for the navigation button */
  .button-nav {
    display: inline-block;
    padding: 0.8rem;
    color: white;
    border-radius: 5px;
    
    background-color: dimgray;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }
  
  .button-nav:hover{
    /*background-color: rgb(134, 235, 217);*/
    color: black;
    background-color: rgb(134, 235, 217);
  }
  .button-nav:focus{
    background-color: rgb(48, 133, 117);
  }
  
  .text-link{
    color: rgb(199, 199, 199);
  }
  /* Styling of hover and focus  */
  
  .text-link:hover{ /*adds a hover animation -- will change colour when mouse hovers over*/
    text-decoration: none;
    color: rgb(134, 235, 217);
  }
  .text-link:focus{/*adds a focus animation -- will change colour when clicked on with mouse */
    text-decoration: none;
    color: rgb(48, 133, 117);
  }
  
  
  
  
  
  /*images*/
  .image-link{
  
  
    filter: grayscale(60);
  }
  .image-link:hover{
    
    filter:grayscale(0);
  }
  
  
  
  
  
  
  
  
  
  /* Styling of text input field.. used from resource https://learn.shayhowe.com/html-css/building-forms/  as a reference for below*/
  form{
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: dimgray;
    width: fit-content;
    padding: 20px;
  }
  input{
    border-radius: 5px;
    padding:10px;
    font: 14px;
  
    margin: 10;
  }
  
  input:hover{
    
    background-color: rgb(134, 235, 217);
  }
  input:focus{
    background-color: rgb(168, 230, 218);
    
  }
  
  
  
  /* 
    TEXT ELEMENTS -------------------
  */
  
  
  
  
  /* 
    COMBINED ELEMENTS -------------------
  */
  
  /*Navigation styling*/
  .mainnav{
    background-color: rgb(63, 137, 141);
    text-decoration: none;
    width: fit-content;
    padding:20px;
  }
  .mainnav a:hover{
    color: rgb(134, 235, 217);
    text-decoration: none;
    
  }
  .mainnav a:focus{
    color:rgb(48, 133, 117);
  }
  .mainnav a{
    padding-right: 0.8rem;
    color: white;
    
  }
  
  
  .citations a{
    color:rgb(199, 199, 199);
    
  }
  .citations a:hover{
    color: rgb(134, 235, 217);
  }
  .citations a:focus{
    color: rgb(48, 133, 117);
  }
  
  
  